/* App.css */

body {
  margin: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif; /* Use a modern and clean font */
}

.App {
  background-image: url("./pink-sanrio-hello-kitty-and-friends-7h2vqf6xpo13vo6f.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin); /* Larger font size for emphasis */
  color: #ff69b4; /* Updated text color */
  animation: fadeIn 1s ease-in-out; /* Add a subtle fade-in animation */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App-link {
  color: #ffd3e0;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em; /* Larger font size for links */
  margin: 20px;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.App-link:hover {
  color: #ff8a80; /* Hover color */
}
