body {
  margin: 0;
  overflow: hidden;
}

.backgroundimage {
  background-image: url("./Pastel-Flower-Background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; /* Ensure the background covers the full viewport height */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

.birthdaymessage {
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

.birthdaymessage h2 {
  background: linear-gradient(45deg, #5f96b0, #b0c1e7, #a7e9af);
  -webkit-background-clip: text;
  color: transparent;
  max-width: 25%; /* Adjust the maximum width as needed */
  margin-top: -100px;
}